useDynLib(mixexp)
import(gdata, lattice, grid)
export(crvtave,
       Eflags,
	   Nrows,
	   Vertcen,
	   SCD,
	   SLD,
	   MixturePlot,
	   ModelPlot,
	   DesignPoints,
	   Xvert,
	   Effplot,
	   Fillv
       )