useDynLib(mixexp)
import(gdata, lattice, grid, daewr)
export(crvtave,
       cubic,
       Eflags,
	     Nrows,
	     Vertcen,
	     SCD,
	     SLD,
	     MixturePlot,
       MixModel,
	     ModelPlot,
	     DesignPoints,
	     Xvert,
	     EffPlot,
       ModelEff,
	     Fillv
       )